a{
   text-decoration: none;
}

#art_about{
    background-color : #FE6B18
}
#art_support, header{
    background-color: #99D5FE
}
#form{
    background-color: #a94710;
}
#art_thanks, footer{
    background-color: #BBE3FE;
}
