a{
   text-decoration: none;
}

#art_about{
    background-color : #FE6B18
}
#art_support, header{
    background-color: #99D5FE
}
#form{
    background-color: #a94710;
}
#art_thanks, footer{
    background-color: #BBE3FE;
}
.bg{
    background-image: url("img/LOGO_LEO8NB.jpg");
    width: 1000px;
    height: 800px;
}
.d-flex{
    display: flex;
}
.sound{
    width: 350px;
}
